body {
    background-color: #E3DFFF;
    font-family: gt-super, Georgia, Cambria, "Times New Roman", Times, serif;
  }
  
  header {
    text-align:center;
  }
  
  img {
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  h2 {
    text-align: center;
    
  }
  
  p {
    padding: 20px;
    padding-top:1px;
    text-align: justify;
  }
  
  .about {
    background-color: #D3C0CD;
    padding:20px;
    margin-left: 250px;
    margin-right: 250px;
    margin:20px;
  }
  
  .nutrition {
    background-color: #C7CCB9;
    padding:20px;
    margin-left: 250px;
    margin-right: 250px;
    margin:20px;
  }
  
  .exercise {
    background-color: #C6DDF0;
    padding:20px;
    margin-left: 250px;
    margin-right: 250px;
    margin:20px;
  }
  
  footer {
    background-color: #776871;
    color: #F0F7EE;
    font-family: Lato,Arial,sans-serif;
    padding:20px;
    margin:20px;
    text-align:center;
  }
  
  a {
    color:#F0F7EE;
    margin:20px;
  }
  
  a:hover {
    color:#B2E6D4;
  }